@font-face {
    font-display: swap;
    font-family: "itc_benguiat";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/itc_benguiat_book_condensed_regular.otf") format("opentype");
}

@font-face {
    font-display: swap;
    font-family: "itc_benguiat";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/itc_benguiat_condensed_bold.otf") format("opentype");
}
