@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    /* colors */
    --yellow-color: #ffde59;
    --red-color: #ff3131;
    --gray-color: #43444c;
    --orange-color: #f24f13;
    --green-color: #6e7d5f;
    --blue-color: #d0e2f7;
    --beige-color: #fbf5d6;
    --brown-color: #4b302b;
    --red-color-contact: #e72625;
    --marine-color: rgb(31, 45, 61);

    /* paddings */
    --standard-padding: 30px;
    --light-padding: 15px;
}

body {
    font-family: itc_benguiat, sans-serif;
}

header, section {
    padding: var(--standard-padding);
}

section {
    display: flex;
    flex-direction: column;
}
