@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --yellow-color: #ffde59;
    --red-color: #ff3131;
    --gray-color: #43444c;
    --orange-color: #f24f13;
}

body {
    font-family: itc_benguiat, sans-serif;
}

